:root {
  --background-white: #E5E5E5;
  --background-pink: #FFB8CA;
  --background-milk: #FFF5F6;
  --text-color-white: #FFFFFF;
  --text-color-black: #000000;
  --text-tel-color-grey: #907E82;
  --title-color: #D41443;
  --circle-color: #FFA5BA;
  --white-buttons-hover-color: #ECEBEB;
  --contacts-separator:#E1E1E1;
  --dark-button-hero-hover-color: #C7133E;
  --icons-bacground-color: #FEA5BB;
  --cafe-bg-color: #F0D1A5;
  --food-truck-bg-color: #C2E297;
  --footer-dark-button: #D41342;
  --tablet-tel-menu-bg-color: #E17992;
  --border-top-color: #E1E1E1;
}

* {
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;
  background-color: var(--background-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--text-color-black);
}

p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.cow-section {
  padding-top: 125px;
  background-color: var(--background-milk);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cow-section {
    padding-top: 130px;
  }
}

@media screen and (max-width: 767px) {
  .cow-section {
    display: block;
    background-image: url(../images/about/milk-bg_480px_1x-min.png);
    background-repeat: no-repeat;
    background-position: left 0 bottom 61px;
    background-size: contain;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .cow-section .cow-section {
    background-image: url(../images/about/milk-bg_480px_2x-min.png);
  }
}

@media screen and (min-width: 1280px) {
  .cow-section .cow-section {
    background-image: url(../images/about/milk-bg_1280px_1x-min.png);
    background-repeat: no-repeat;
    background-position: left 0 top 415px;
    background-size: contain;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .cow-section .cow-section {
    background-image: url(../images/about/milk-bg_1280px_2x-min.png);
  }
}

.cow-section__titles {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 26px;
}

.cow-section__picture {
  margin-bottom: 46px;
}

@media screen and (max-width: 767px) {
  .cow-section__picture {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .cow-section__picture {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .cow-section__picture {
    margin-top: 55px;
  }
}

.cow-section-description {
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .cow-section-description {
    width: 340px;
    padding-top: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .cow-section-description {
    width: 463px;
    padding-top: 106px;
  }
}

.cow-section-description__maine-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  text-align: center;
  margin-bottom: 35px;
  color: var(--text-color-black);
}

@media screen and (min-width: 768px) {
  .cow-section-description__maine-text {
    font-size: 14px;
    line-height: 176%;
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 1280px) {
  .cow-section-description__maine-text {
    font-size: 16px;
    line-height: 176%;
    margin-bottom: 29px;
  }
}

.cow-section-description__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  margin-bottom: 17px;
  text-align: center;
  color: var(--text-tel-color-grey);
}

@media screen and (min-width: 768px) {
  .cow-section-description__text {
    margin-bottom: 62px;
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
  }
}

@media screen and (min-width: 1280px) {
  .cow-section-description__text {
    margin-bottom: 51px;
    font-size: 14px;
    line-height: 194%;
  }
}

.cow-section__button {
  width: 176px;
  height: 44px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  color: var(--footer-dark-button);
  background-color: var(--text-color-white);
  border-radius: 22px;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .cow-section__button {
    font-size: 16px;
    line-height: 1.31px;
  }
}

.cow-section__icon {
  margin-left: 14px;
}

.cow-section_title-one {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--circle-color);
}

@media screen and (min-width: 768px) {
  .cow-section_title-one {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .cow-section_title-one {
    font-size: 30px;
    line-height: 1.13;
  }
}

.cow-section-tittle-second {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .cow-section-tittle-second {
    font-size: 48px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .cow-section-tittle-second {
    font-size: 58px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.advantages {
  background-color: var(--background-milk);
  margin: 0;
  padding-top: 20px;
  width: 100%;
}

.advantages__li {
  margin: 0;
  width: 230px;
  position: relative;
}

.advantages__li--milk::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 33px;
  height: 50px;
  background-image: url(../images/advantages/milk-icon_x1-min.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__li--milk::before {
    background-image: url(../images/advantages/milk-icon_x2-min.png);
  }
}

.advantages__li--apple::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages/apple-icon_x1-min.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__li--apple::before {
    background-image: url(../images/advantages/apple-icon_x2-min.png);
  }
}

.advantages__li--heart::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 44px;
  height: 50px;
  background-image: url(../images/advantages/heart-icon_x1-min.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__li--heart::before {
    background-image: url(../images/advantages/heart-icon_x2-min.png);
  }
}

.advantages__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.139;
  letter-spacing: 0.04em;
  color: var(--title-color);
  padding-top: 66px;
}

.advantages__p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 38px;
}

.advantages__p:last-child {
  margin-bottom: 0;
  padding-bottom: 38px;
}

.advantages__img {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 36px;
  }
  .advantages__li {
    width: 180px;
  }
  .advantages__li:not(:first-child) {
    margin-left: 60px;
  }
  .advantages__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 1.125;
    letter-spacing: 0.04;
    display: block;
    margin-bottom: 13px;
    padding-top: 86px;
  }
  .advantages__p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0.04;
  }
  .advantages__p:last-child {
    margin-bottom: 0;
    padding-bottom: 140px;
  }
  .advantages__img {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 115px;
  }
  .advantages__li {
    width: 330px;
  }
  .advantages__li:not(:first-child) {
    margin-left: 30px;
  }
  .advantages__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 1.034;
    letter-spacing: 0.04;
    margin-bottom: 15px;
    padding-top: 90px;
  }
  .advantages__p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02;
  }
  .advantages__p:last-child {
    margin-bottom: 0;
    padding-bottom: 139px;
  }
  .advantages__img {
    margin-bottom: 40px;
  }
}

.contacts {
  position: relative;
  margin-top: 86px;
  background: var(--background-milk);
}

.contacts::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 84px;
  background-color: #fff;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-top: 119px;
  }
  .contacts::after {
    height: 78px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    background-image: url("/images/contacts/contacts-fon-1x.png");
    background-position-y: 102px;
    background-repeat: no-repeat;
    background-position-x: 0;
    margin-top: 132px;
  }
  .contacts::after {
    height: 102px;
  }
}

.container-s {
  padding: 0 50px;
}

@media screen and (min-width: 768px) {
  .container-s {
    padding: 0 36px;
  }
}

@media screen and (min-width: 1200px) {
  .container-s {
    padding: 0 115px;
  }
}

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts__cards {
  list-style: none;
  position: relative;
  z-index: 10000;
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .contacts__cards {
    margin-bottom: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__cards {
    margin-bottom: 86px;
  }
}

.contacts__card {
  position: relative;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  margin-bottom: 20px;
  background-color: var(--text-color-white);
}

.contacts__card:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .contacts__card {
    margin-bottom: 0;
    -ms-flex-preferred-size: calc((100% - 40px) / 3);
        flex-basis: calc((100% - 40px) / 3);
    width: 100%;
    margin-right: 20px;
  }
  .contacts__card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .contacts__card {
    margin-bottom: 0;
    -ms-flex-preferred-size: calc((100% - 40px) / 3);
        flex-basis: calc((100% - 40px) / 3);
    width: 100%;
    margin-right: 20px;
  }
  .contacts__card:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__card {
    -ms-flex-preferred-size: calc((100% - 62px) / 3);
        flex-basis: calc((100% - 62px) / 3);
    width: auto;
    margin-right: 20px;
  }
}

.contacts__card .card__separator {
  height: 1px;
  background: var(--contacts-separator);
  margin-top: 25px;
  margin-bottom: 25px;
}

.contacts__card .card__title {
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 12px;
  color: var(--text-color-white);
  height: 16px;
  width: 80px;
  background: var(--cafe-bg-color);
  border-radius: 4px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contacts__card .card__title {
    font-size: 16px;
    line-height: 30px;
    height: 28px;
    width: 73px;
  }
}

.contacts__card .card__title-food {
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 12px;
  color: var(--text-color-white);
  height: 16px;
  width: 130px;
  background: var(--food-truck-bg-color);
  border-radius: 4px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contacts__card .card__title-food {
    font-size: 16px;
    line-height: 30px;
    height: 28px;
    width: 138px;
  }
}

.contacts__card .card__name {
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts__card .card__name {
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__card .card__name {
    font-size: 16px;
    line-height: 30px;
  }
}

.contacts__card .card__text {
  font-weight: 500;
  font-size: 12px;
  color: var(--text-tel-color-grey);
}

@media screen and (min-width: 768px) {
  .contacts__card .card__text {
    font-size: 14px;
    line-height: 23px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__card .card__text {
    font-size: 16px;
    line-height: 30px;
  }
}

.contacts__card .card__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
}

@media screen and (min-width: 768px) {
  .contacts__card .card__day {
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__card .card__day {
    font-size: 16px;
    line-height: 30px;
  }
}

.contacts__card .card__time {
  color: var(--circle-color);
  padding-bottom: 10px;
}

.contacts__card .card__time:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .contacts__card .card__time {
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__card .card__time {
    font-size: 16px;
    line-height: 30px;
  }
}

.contacts__card .card__tel,
.contacts__card .card__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-tel-color-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .contacts__card .card__tel,
  .contacts__card .card__mail {
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__card .card__tel,
  .contacts__card .card__mail {
    font-size: 16px;
    line-height: 30px;
  }
}

.contacts__card .locations {
  margin-bottom: 113px;
}

@media screen and (min-width: 768px) {
  .contacts__card .locations {
    margin-bottom: 158px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__card .locations {
    margin-bottom: 165px;
  }
}

.contacts__card .locations__button {
  outline: none !important;
  border: none;
  display: block;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  font-size: 16px;
  line-height: 30px;
}

.card__tel,
.card__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-tel-color-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .card__tel,
  .card__mail {
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .card__tel,
  .card__mail {
    font-size: 16px;
    line-height: 30px;
  }
}

.locations {
  padding-bottom: 113px;
}

@media screen and (min-width: 768px) {
  .locations {
    padding-bottom: 158px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .locations {
    padding-bottom: 165px;
  }
}

.locations__button {
  outline: none !important;
  border: none;
  display: block;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .locations__button {
    margin: 0 15px 0 0;
    width: 191px;
  }
}

@media screen and (min-width: 1200px) {
  .locations__button {
    width: 198px;
    margin: 0 15px 0 0;
  }
}

.locations__button-dark {
  margin-bottom: 10px;
  background: var(--footer-dark-button);
  color: var(--text-color-white);
}

@media screen and (min-width: 768px) {
  .locations__button-dark {
    margin-bottom: 0;
  }
}

.locations__button-white {
  background: var(--text-color-white);
  color: var(--footer-dark-button);
}

.locations__icon {
  color: mintcream;
  background: white;
  margin-left: 10px;
}

.locations__icon-red {
  fill: white;
  background: inherit;
  margin-left: 10px;
}

.footer {
  background-color: var(--background-milk);
}

.footer__text {
  color: var(--circle-color);
  font-family: Titan One;
  font-style: Regular;
  line-height: 100%;
  font-size: 18px;
  line-height: 1.1;
  line-height: 100%;
  letter-spacing: 00.04cm;
  margin-bottom: 17px;
}

@media screen and (min: width 768px) {
  .footer__text {
    font-family: Titan One;
    font-style: Regular;
    line-height: 100%;
    font-size: 26px;
    line-height: 1.1;
    line-height: 100%;
    letter-spacing: 00.04cm;
  }
}

@media screen and (min: width 1200px) {
  .footer__text {
    font-family: Titan One;
    font-style: Regular;
    line-height: 100%;
    font-size: 30px;
    line-height: 1.1;
    line-height: 100%;
    letter-spacing: 00.04cm;
  }
}

.footer__header {
  font-family: Titan One;
  font-style: Regular;
  color: var(--title-color);
  line-height: 100%;
  font-size: 58px;
  line-height: 1.1;
  line-height: 100%;
  letter-spacing: 00.04cm;
  margin-bottom: 43px;
}

.footer-div__text {
  width: 234px;
}

@media screen and (min-width: 1200px) {
  .footer-div__text {
    width: auto;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

.footer__list > li:not(:first-child) {
  margin-left: 28.5px;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--icons-bacground-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  fill: var(--text-color-white);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--title-color);
}

.footer-social__svg {
  height: 55%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__li {
  width: 32px;
  height: 32px;
}

.footer-contact__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: DM Sans;
  font-style: bold;
  font-size: 12px;
  line-height: 22px;
  line-height: 186%;
  margin-bottom: 43px;
}

.footer-contact__tel {
  color: var(--title-color);
  margin-left: 5px;
}

.footer__copyright {
  padding-top: 9px;
  padding-bottom: 11px;
  color: var(--text-tel-color-grey);
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  margin: auto;
  text-align: center;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 29px;
    padding-bottom: 18px;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-mobile__copyright {
  border-top: 1px solid var(--border-top-color);
}

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery {
  margin: 0 auto;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58%, #FFF5F6), color-stop(42%, #FFFFFF));
  background: linear-gradient(to bottom, #FFF5F6 58%, #FFFFFF 42%);
  border-color: var(--background-white);
  margin-bottom: 170px;
}

.gallery__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-bottom: 234px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin-bottom: 234px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__wrapper {
    max-width: 1010px;
    height: auto;
    margin: 0 auto;
  }
}

.page-header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
}

@media screen and (max-width: 1279px) {
  .navigation {
    display: none;
  }
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .nav-container {
    padding-top: 37px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-container {
    padding-left: 46px;
  }
}

.nav-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

@media screen and (min-width: 1280px) {
  .nav__list {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 110px;
  }
}

@media screen and (min-width: 1280px) {
  .nav__item:not(:last-child) {
    margin-right: 35px;
  }
}

.nav__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .nav__link {
    color: var(--text-color-white);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--title-color);
  }
}

.nav__link--current {
  color: var(--title-color);
}

.button-burger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-button {
  z-index: 1100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 1280px) {
  .menu-button {
    display: none;
  }
}

.header-buy__button {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.286;
  color: #d41443;
  background-color: #fff;
  border: transparent;
  border-radius: 22px;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.header-buy__button:hover, .header-buy__button:focus {
  background-color: var(--white-buttons-hover-color);
}

@media screen and (max-width: 767px) {
  .header-buy__button {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-buy__button {
    margin-left: 20px;
  }
}

.header-buy__icon {
  margin-left: 8px;
}

.hero {
  background-color: var(--background-pink);
}

.hero-container {
  position: relative;
}

@media screen and (max-width: 767px) {
  .hero-container {
    min-width: 320px;
    padding: 83px 20px 0;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-container {
    width: 768px;
    min-height: 400px;
    padding: 32px 34px 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1280px;
    min-height: 665px;
    padding: 52px 77px 0;
  }
}

@media screen and (max-width: 767px) {
  .hero-content {
    position: absolute;
    top: 37%;
  }
}

@media screen and (min-width: 768px) {
  .hero-content {
    display: block;
    margin-top: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-content {
    margin-left: 40px;
  }
}

.hero__title {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-white);
}

@media screen and (max-width: 767px) {
  .hero__title {
    width: 218px;
    min-height: 106px;
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    width: 162px;
    min-height: 80px;
    font-size: 22px;
  }
}

@media screen and (max-width: 1279px) {
  .hero__title {
    margin: 0 0 20px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    width: 277px;
    min-height: 137px;
    margin: 0 0 25px;
    font-size: 38px;
  }
}

.hero__title--color {
  font-size: 48px;
  line-height: 1.15;
  color: var(--title-color);
}

@media screen and (min-width: 1280px) {
  .hero__title--color {
    font-size: 58px;
  }
}

.hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1279px) {
  .hero-buttons {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-buttons {
    margin-bottom: 56px;
  }
}

.hero-button__item {
  max-width: 84px;
  max-height: 24px;
}

.hero-button__item:first-child {
  margin-right: 8px;
}

@media screen and (min-width: 1280px) {
  .hero-button__item:first-child {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-button__item {
    max-width: 138px;
    max-height: 40px;
  }
}

.hero__button {
  display: block;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: none;
  padding: 9px 13px;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.3;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .hero__button {
    font-size: 14px;
    padding: 15px 19px;
  }
}

.hero__button--dark {
  color: var(--text-color-white);
  background-color: var(--title-color);
}

.hero__button--dark:hover, .hero__button--dark:focus {
  background-color: var(--dark-button-hero-hover-color);
}

.hero__button--white {
  color: var(--title-color);
  background-color: var(--text-color-white);
}

.hero__button--white:hover, .hero__button--white:focus {
  background-color: var(--white-buttons-hover-color);
}

@media screen and (max-width: 767px) {
  .hero-card {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (max-width: 1279px) {
  .hero-card__image {
    width: 124px;
    height: 126px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-card__image {
    width: 188px;
    height: 191px;
    margin-right: 30px;
  }
}

.hero-card__text {
  color: var(--text-color-white);
  font-weight: 400;
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .hero-card__text {
    width: 114px;
    min-height: 48px;
    margin-bottom: 7px;
    font-size: 8px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  .hero-card__text {
    width: 200px;
    min-height: 78px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 1279px) {
  .hero-card__link {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-card__link {
    width: 26px;
    height: 26px;
  }
}

.hero__image {
  border-radius: 50%;
  background-color: #ffa5ba;
}

@media screen and (max-width: 415px) {
  .hero__image {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 767px) {
  .hero__image {
    width: 346px;
    height: 344px;
    padding-top: 9px;
    margin-top: 0;
    margin-bottom: 75px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__image {
    width: 324px;
    height: 322px;
    padding-top: 32px;
    padding-left: 71px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__image {
    width: 538px;
    height: 538px;
    padding-top: 56px;
    padding-left: 119px;
  }
}

@media screen and (max-width: 767px) {
  .hero__icecream {
    width: 171px;
    height: 410px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .hero__icecream {
    width: 143px;
    height: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__icecream {
    width: 236px;
    height: 557px;
  }
}

.hero-numbers {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-numbers {
    display: block;
    margin-top: 60px;
    position: relative;
  }
}

.hero-numbers__block {
  background-repeat: no-repeat;
  background-position: top 0 right 15%;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-numbers__block:first-child {
  margin-bottom: 13px;
}

.hero-numbers__block:focus, .hero-numbers__block:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-numbers__block {
    background-image: url(/images/hero-header/background-circle-768-1x-min.png);
    background-size: 18px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-numbers__block {
    background-image: url(/images/hero-header/background-circle-768-2x-min.png);
  }
}

@media screen and (min-width: 1280px) {
  .hero-numbers__block {
    margin-right: 20px;
    background-image: url(/images/hero-header/background-circle-1280-1x-min.png);
    background-size: 30px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-numbers__block {
    background-image: url(/images/hero-header/background-circle-1280-2x-min.png);
  }
}

.hero-numbers__quantity {
  display: block;
  color: var(--title-color);
  font-family: Titan One, sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media screen and (max-width: 1279px) {
  .hero-numbers__quantity {
    font-size: 28px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .hero-numbers__quantity {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero-numbers__item {
  color: var(--text-color-white);
  display: block;
  font-family: DM Sans, sans-serif;
}

@media screen and (max-width: 1279px) {
  .hero-numbers__item {
    font-size: 8px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .hero-numbers__item {
    font-size: 14px;
    line-height: 1.3;
  }
}

.hero-numbers__image {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1279px) {
  .hero-numbers__image {
    width: 168px;
    height: 133px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-numbers__image {
    width: 293px;
    height: 232px;
  }
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
}

.product_title {
  width: 200px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .product_title {
    width: 283px;
  }
}

@media screen and (min-width: 1200px) {
  .product_title {
    width: 350px;
  }
}

.subtitle {
  margin: 0;
  padding-bottom: 15px;
  font-family: Titan One;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--circle-color);
}

.title {
  margin: 0;
  padding-bottom: 31px;
  font-family: Titan One;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--title-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .products_list {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .products_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1054px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products_list__item {
  position: relative;
  display: block;
  width: 280px;
  height: 598px;
  margin-bottom: 0;
  text-align: center;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products_list__item__item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media screen and (max-width: 767px) {
  .products_list__item {
    margin-top: 0;
  }
  .products_list__item:not(:last-child) {
    margin-bottom: 17px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products_list__item {
    width: calc((100% - 20px) / 3);
    height: 589px;
  }
  .products_list__item__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products_list__item {
    width: calc((100% - 30px) / 3);
    height: 735px;
  }
  .products_list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.products_image {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  display: block;
  max-width: 100%;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .products_image {
    width: 249px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products_image {
    width: 220px;
  }
}

@media screen and (min-width: 1280px) {
  .products_image {
    width: 335px;
  }
}

.products_content {
  position: absolute;
  bottom: 0%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 24px;
}

@media screen and (max-width: 767px) {
  .products_content {
    padding-top: 165px;
    padding-bottom: 40px;
    width: 280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products_content {
    padding-top: 156px;
    padding-bottom: 40px;
    width: 280px;
    height: 485px;
  }
}

@media screen and (min-width: 1280px) {
  .products_content {
    padding-top: 170px;
    padding-bottom: 50px;
    width: 330px;
    max-height: 525px;
  }
}

.products_background__icecream {
  background-color: var(--background-pink);
}

.products_background__icecoffee {
  background-color: var(--cafe-bg-color);
}

.products_background__milkshakes {
  background-color: var(--food-truck-bg-color);
}

.title_products {
  color: #fff;
  position: relative;
  margin-top: 0px;
  font-family: Titan One;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.title_products::after {
  content: '';
  border: 1px solid tomato;
  position: absolute;
  width: 26px;
  height: 6px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0%;
  display: block;
  text-align: center;
  width: 26px;
  height: 6px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .title_products {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .title_products {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .title_products {
    padding-bottom: 36px;
    margin-bottom: 32px;
  }
}

.products_specification {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  font-family: DM Sans;
  color: var(--text-color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .products_specification {
    width: 200px;
    height: 124px;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 152%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products_specification {
    width: 198px;
    height: 124px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 176%;
  }
}

@media screen and (min-width: 1280px) {
  .products_specification {
    width: 241px;
    height: 106px;
    margin-bottom: 62px;
    font-size: 16px;
    font-weight: 700;
    line-height: 176%;
  }
}

.products_button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-color-white);
  border-style: none;
  padding: 0;
  cursor: pointer;
}

.products_button::after {
  content: '';
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
}
/*# sourceMappingURL=main.css.map */