:root{
    --background-white: #E5E5E5;
    --background-pink: #FFB8CA;   //ice-cream section background//
    --background-milk: #FFF5F6;
    --text-color-white: #FFFFFF;
    --text-color-black: #000000;   //background-color for white buttons//
    --text-tel-color-grey: #907E82;
    --title-color: #D41443;      //background-color for dark button in hero and hover (background) icons in footer//
    --circle-color: #FFA5BA;  //circle on hero section, 100% naturals, tradition and love, work-time, homemade ice cream made//
    --white-buttons-hover-color: #ECEBEB; // 4 buttons//
    --dark-button-hero-hover-color: #C7133E; 
    --icons-bacground-color: #FEA5BB; //only icons in foot// 
    --cafe-bg-color: #F0D1A5;  // and "ice coffee" section//
    --food-truck-bg-color: #C2E297; // and "milkshakes" section//
    --footer-dark-button: #D41342;  //hover color also//
    --tablet-tel-menu-bg-color: #E17992; 
    






}