<section>
    <container class="">
        <div class="cow-milk">
            <!-- тут свг иконка -->
           <p class="cow-milk__number">721</p>
           <p class="cow-milk__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
         </div>
         <div class="cow-eat">
          <!-- тут свг иконка -->
         <p class="cow-eat__number">721</p>
         <p class="cow-eat__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="cow-candy">
          <!-- тут свг иконка -->
         <p class="cow-candy__number">721</p>
         <p class="cow-candy__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
    </container>
</section>