<section>
    <ul class="advantages container">
        <li class="advantages__li">
           <picture>
               <source srcset="./images/advantages/milk-icon_x1-min.png 1х, ./images/advantages/milk-icon_x2-min.png 2x" media="(min-width: 320px)">
               <source srcset="./images/advantages/milk-icon_x1-min.png 1х, ./images/advantages/milk-icon_x2-min.png 2x" media="(min-width: 768px)">
               <source srcset="./images/advantages/milk-icon_x1-min.png 1х, ./images/advantages/milk-icon_x2-min.png 2x" media="(min-width: 1280px)">
               <img src="./images/advantages/milk-icon_x1-min.png" alt="milk" class="advantages__img shake-hard">
           </picture>
            <p class="advantages__title">721</p>
            <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__li">
            <picture>
                <source srcset="./images/advantages/apple-icon_x1-min.png 1x, ./images/advantages/apple-icon_x2-min.png 2x" media="(min-width: 320px)">
                <source srcset="./images/advantages/apple-icon_x1-min.png 1x, ./images/advantages/apple-icon_x2-min.png 2x" media="(min-width: 768px)">
                <source srcset="./images/advantages/apple-icon_x1-min.png 1x, ./images/advantages/apple-icon_x2-min.png 2x" media="(min-width: 1280px)">
                <img src="./images/advantages/apple-icon_x1-min.png" alt="apple" class="advantages__img shake-hard">
            </picture>
            <p class="advantages__title">16kg</p>
            <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__li">
            <picture>
                <source srcset="./images/advantages/heart-icon_x1-min.png 1x, ./images/advantages/heart-icon_x2-min.png 2x" media="(min-width: 320px)">
                <source srcset="./images/advantages/heart-icon_x1-min.png 1x, ./images/advantages/heart-icon_x2-min.png 2x" media="(min-width: 768px)">
                <source srcset="./images/advantages/heart-icon_x1-min.png 1x, ./images/advantages/heart-icon_x2-min.png 2x" media="(min-width: 1280px)">
                <img src="./images/advantages/heart-icon_x1-min.png" alt="heart" class="advantages__img shake-hard">
            </picture>
            <p class="advantages__title">84</p>
            <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</section>