<section>
    <div class="container advantag">
    <ul class="advantages">
        <li class="advantages__li advantages__li--milk">
            <p class="advantages__title">721</p>
            <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__li advantages__li--apple">
            <p class="advantages__title">16kg</p>
            <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__li advantages__li--heart">
            <p class="advantages__title">84</p>
            <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>
</section>
