<section class="contact" id="contact" >
  <h1 class="visually-hidden">Contact </h1>
  <div class="container">
  <div class="container-s">
    <ul class="contact__cards">
      <li class="contact__card">
        <p class="card__title">CAFE</p>
        <p class="card__name">Chicago</p>
        <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>


          <div class="card__separator"></div>

          <p class="card__day">Monday - Friday</p>
          <p class="card__time">06:00 AM - 10:00 PM</p>
          <p class="card__day">Saturday - Sunday</p>
          <p class="card__time">08:00 AM - 16:00 PM</p>

          <div class="card__separator"></div>

          <a href="tel:+61(0)383766284" class="card__tel"> +61(0) 383 766 284 </a>
          <a href="mailto:noreply@envato.com" class="card__mail"> noreply@envato.com</a>
        </li>

      <li class="contact__card">
        <p class="card__title-food">FOODTRUCK</p>
        <p class="card__name">Los Angeles</p>
        <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>


          <div class="card__separator"></div>

          <p class="card__day">Monday - Friday</p>
          <p class="card__time">06:00 AM - 10:00 PM</p>
          <p class="card__day">Saturday - Sunday</p>
          <p class="card__time">08:00 AM - 16:00 PM</p>

          <div class="card__separator"></div>

          <a href="tel:+610383766284" class="card__tel">+61(0) 383 766 284 </a>
          <a href="mailto:noreply@envato.com" class="card__mail">noreply@envato.com</a>
        </li>

      <li class="contact__card">
        <p class="card__title">CAFE</p>
        <p class="card__name">New York</p>
        <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>


          <div class="card__separator"></div>

          <p class="card__day">Monday - Friday</p>
          <p class="card__time">06:00 AM - 10:00 PM</p>
          <p class="card__day">Saturday - Sunday</p>
          <p class="card__time">08:00 AM - 16:00 PM</p>

          <div class="card__separator"></div>

          <a class="card__tel" href="tel:+610383766284">+61(0) 383 766 284 </a>
          <a class="card__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
      <div class="locations">
        <button class="locations__button locations__button-dark">
          Our Locations
          <svg class="locations__icon-white" width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.61633 1L6.04401 5L1.61633 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
        </button>
        <button class="locations__button locations__button-white">
          Franchise
          <svg
            class="locations__icon"
            width="7"
            height="10"
            viewBox="0 0 7 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.08456 1L5.36577 5L1.08456 9"
              stroke="#D41443"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
