<section class="contacts">
    <container class="">
    <div class="chicago">
      <h4 class="chicago__title">CAFE</h4>
      <p class="chicago__name">Chicago</p>
      <p class="chicago__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <p class="chicago__day">Monday - Friday</p>
      <p class="chicago__time">06:00 AM - 10:00 PM</p>
      <p class="chicago__day">Saturday - Sunday</p>
      <p class="chicago__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+61(0) 383 766 284 " class="chicago__tel">+61(0) 383 766 284 </a>
      <a href="mailto:noreply@envato.com" class="chicago__mail">noreply@envato.com</a>
    </div>
    <div class="la">
      <h4 class="la__title">CAFE</h4>
      <p class="la__name">Chicago</p>
      <p class="la__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <p class="la__day">Monday - Friday</p>
      <p class="la__time">06:00 AM - 10:00 PM</p>
      <p class="la__day">Saturday - Sunday</p>
      <p class="la__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+61(0) 383 766 284 " class="la__tel">+61(0) 383 766 284 </a>
      <a href="mailto:noreply@envato.com" class="la__mail">noreply@envato.com</a>
    </div>
    <div class="ny">
      <h4 class="ny__title">CAFE</h4>
      <p class="ny__name">Chicago</p>
      <p class="ny__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <p class="ny__day">Monday - Friday</p>
      <p class="ny__time">06:00 AM - 10:00 PM</p>
      <p class="ny__day">Saturday - Sunday</p>
      <p class="ny__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+61(0) 383 766 284 " class="ny__tel">+61(0) 383 766 284 </a>
      <a href="mailto:noreply@envato.com" class="ny__mail">noreply@envato.com</a>
    </div>
    <div class="locations">
      <button class="locations__button-dark">Our Locations</button>
      <button class="locations__button-white">Franchise</button>
    </div>
  </container>
  </section>    