<!-- <section class="сustomer-reviews">
  <div class="container">
    <h2 class="сustomer-reviews__title title title--hidden">Customer reviews</h2>

    <ul class="сustomer-reviews__list">
      <li class="сustomer-reviews__item">
        <picture>
          <source
            srcset="./images/client1Desc1x.webp 1x, ./images/client1Desc2x.webp 2x"
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/client1Desc1x.jpg 1x, ./images/client1Desc2x.jpg 2x"
            media="(min-width:1280px)"
          />

          <source
            srcset="./images/client1Tablet1x.webp 1x, ./images/client1Tablet2x.webp 2x"
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/client1Tablet1x.jpg 1x, ./images/client1Tablet2x.jpg 2x"
            media="(min-width:768px)"
          />

          <source
            srcset="./images/client1Mob1x.webp 1x, ./images/client1Mob2x.webp 2x"
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="./images/client1Mob1x.jpg 1x, ./images/client1Mob2x.jpg 2x"
            media="(min-width:480px)"
          />
          <img
            src="./images/client1Mob1x.jpg"
            alt="Emily from LA"
            width="85"
            height="85"
            class="сustomer-reviews__img img"
          />
        </picture>

        <svg width="" height="" class="сustomer-reviews__icon quotes">
          <use href="#"></use>
        </svg>

        <p class="сustomer-reviews__feedback">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>

        <svg width="" height="" class="сustomer-reviews__icon markers">
          <use href="#"></use>
        </svg>

        <p class="сustomer-reviews__location">Emily, Los Angeles</p>
      </li>

      <li class="сustomer-reviews__item">
        <picture>
          <source
            srcset="./images/client2Desc1x.webp 1x, ./images/client2Desc2x.webp 2x"
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/client2Desc1x.jpg 1x, ./images/client2Desc2x.jpg 2x"
            media="(min-width:1280px)"
          />

          <source
            srcset="./images/client2Tablet1x.webp 1x, ./images/client2Tablet2x.webp 2x"
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/client2Tablet1x.jpg 1x, ./images/client2Tablet2x.jpg 2x"
            media="(min-width:768px)"
          />

          <source
            srcset="./images/client2Mob1x.webp 1x, ./images/client2Mob2x.webp 2x"
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="./images/client2Mob1x.jpg 1x, ./images/client2Mob2x.jpg 2x"
            media="(min-width:480px)"
          />
          <img
            src="./images/client1Mob1x.jpg"
            alt="Abby from Chicago"
            width="85"
            height="85"
            class="сustomer-reviews__img img"
          />
        </picture>

        <svg width="" height="" class="сustomer-reviews__icon quotes">
          <use href="#"></use>
        </svg>

        <p class="сustomer-reviews__feedback">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>

        <svg width="" height="" class="сustomer-reviews__icon markers">
          <use href="#"></use>
        </svg>

        <p class="сustomer-reviews__location">Abby, Chicago</p>
      </li>

      <li class="сustomer-reviews__item">
        <picture>
          <source
            srcset="./images/client3Desc1x.webp 1x, ./images/client3Desc2x.webp 2x"
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/client3Desc1x.jpg 1x, ./images/client3Desc2x.jpg 2x"
            media="(min-width:1280px)"
          />

          <source
            srcset="./images/client3Tablet1x.webp 1x, ./images/client3Tablet2x.webp 2x"
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/client3Tablet1x.jpg 1x, ./images/client3Tablet2x.jpg 2x"
            media="(min-width:768px)"
          />

          <source
            srcset="./images/client3Mob1x.webp 1x, ./images/client3Mob2x.webp 2x"
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="./images/client3Mob1x.jpg 1x, ./images/client3Mob2x.jpg 2x"
            media="(min-width:480px)"
          />
          <img
            src="./images/client3Mob1x.jpg"
            alt="Jenny from New York"
            width="85"
            height="85"
            class="сustomer-reviews__img img"
          />
        </picture>

        <svg width="" height="" class="сustomer-reviews__icon quotes">
          <use href="#"></use>
        </svg>

        <p class="сustomer-reviews__feedback">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>

        <svg width="" height="" class="сustomer-reviews__icon markers">
          <use href="#"></use>
        </svg>

        <p class="сustomer-reviews__location">Jenny, New York</p>
      </li>
    </ul>
  </div>
</section> -->