<section class="сustomer-reviews">
  <div class="container">
    <h2 class="сustomer-reviews__title title title--hidden">Customer reviews</h2>

      <div class="slider">
        <article class="slider__item">
          <div class="сustomer-reviews__card slide">

            <img
            class="customer-reviews__img"
            srcset="./images/customers/girl-1_2x-min.png 2x"
            src="./images/customers/girl-1_1x-min.png"
            alt="Emily"
            width="85"
            height="85"
            />

            <p class="customer-reviews__feedback">
              <span class="underline">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
              risus.</span>
            </p>
            <p class="customer-reviews__person">Emily, Los Angeles</p>
          </div>
        </article>
      </div>
  </div>
</section>