<section class="container section">
  <div class="gallery">
    <div class="gallery__flex">
      <div class="gallery__item gallery__item--1c">
        <picture class="gallery__picture--posuda">
          <source
            srcset="
              ./images/gallery/split/posuda-1280-1x.png 1x,
              ./images/gallery/split/posuda-1280-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/gallery/split/posuda-768-1x.png 1x,
              ./images/gallery/split/posuda-768-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/split/posuda-320-1x.png 1x,
              ./images/gallery/split/posuda-320-2x.png 2x
            "
            media="(min-width: 320px)"
          />

          <img src="./images/gallery/split/posuda-320-1x.png" alt="posuda" />
        </picture>
      </div>
      <div class="gallery__item--2c">
        <div class="gallery__item">
          <picture class="gallery__picture--ice-cream">
            <source
              srcset="
                ./images/gallery/split/ice-cream-1280-1x.png 1x,
                ./images/gallery/split/ice-cream-1280-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/split/ice-cream-768-1x.png 1x,
                ./images/gallery/split/ice-cream-768-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/split/ice-cream-320-1x.png 1x,
                ./images/gallery/split/ice-cream-320-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img src="./images/gallery/split/ice-cream-320-1x.png" alt="ice-cream" />
          </picture>
        </div>
        <div class="gallery__item">
          <picture class="gallery__picture--pink-ice-cream">
            <source
              srcset="
                ./images/gallery/split/pink-ice-cream-1280-1x.png 1x,
                ./images/gallery/split/pink-ice-cream-1280-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/split/pink-ice-cream-768-1x.png 1x,
                ./images/gallery/split/pink-ice-cream-768-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/split/pink-ice-cream-320-1x.png 1x,
                ./images/gallery/split/pink-ice-cream-320-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img src="./images/gallery/split/pink-ice-cream-320-1x.png" alt="pink-ice-cream" />
          </picture>
        </div>
      </div>
      <div class="gallery__item--3c">
        <div class="gallery__item">
          <picture class="gallery__picture--ice-cream-big">
            <source
              srcset="
                ./images/gallery/split/ice-cream-big-1280-1x.png 1x,
                ./images/gallery/split/ice-cream-big-1280-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/split/ice-cream-big-768-1x.png 1x,
                ./images/gallery/split/ice-cream-big-768-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/split/ice-cream-big-320-1x.png 1x,
                ./images/gallery/split/ice-cream-big-320-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img src="./images/gallery/split/ice-cream-big-320-1x.png" alt="ice-cream-big" />
          </picture>
        </div>
        <div class="gallery__item">
          <picture class="gallery__picture--girl">
            <source
              srcset="
                ./images/gallery/split/girl-1280-1x.png 1x,
                ./images/gallery/split/girl-1280-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/split/girl-768-1x.png 1x,
                ./images/gallery/split/girl-768-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/split/girl-320-1x.png 1x,
                ./images/gallery/split/girl-320-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img src="./images/gallery/split/girl-320-1x.png" alt="girl" />
          </picture>
        </div>
      </div>
      <div class="gallery__item--4c">
        <div class="gallery__item">
          <picture class="gallery__picture--berries">
            <source
              srcset="
                ./images/gallery/split/berries-1280-1x.png 1x,
                ./images/gallery/split/berries-1280-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/split/berries-768-1x.png 1x,
                ./images/gallery/split/berries-768-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/split/berries-320-1x.png 1x,
                ./images/gallery/split/berries-320-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img src="./images/gallery/split/berries-320-1x.png" alt="berries" />
          </picture>
        </div>
        <div class="gallery__item">
          <picture class="gallery__picture--ice-cream-red">
            <source
              srcset="
                ./images/gallery/split/ice-cream-red-1280-1x.png 1x,
                ./images/gallery/split/ice-cream-red-1280-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/split/ice-cream-red-768-1x.png 1x,
                ./images/gallery/split/ice-cream-red-768-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/split/ice-cream-red-320-1x.png 1x,
                ./images/gallery/split/ice-cream-red-320-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img src="./images/gallery/split/ice-cream-red-320-1x.png" alt="ice-cream-red" />
          </picture>
        </div>
      </div>
      <div class="gallery__item--5c">
        <div class="gallery__item">
          <picture class="gallery__picture--dog">
            <source
              srcset="
                ./images/gallery/split/dog-1280-1x.png 1x,
                ./images/gallery/split/dog-1280-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/split/dog-768-1x.png 1x,
                ./images/gallery/split/dog-768-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/split/dog-320-1x.png 1x,
                ./images/gallery/split/dog-320-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img src="./images/gallery/split/dog-320-1x.png" alt="dog" />
          </picture>
        </div>
        <div class="gallery__item">
          <picture class="gallery__picture--ice-coffee">
            <source
              srcset="
                ./images/gallery/split/ice-coffee-1280-1x.png 1x,
                ./images/gallery/split/ice-coffee-1280-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/split/ice-coffee-768-1x.png 1x,
                ./images/gallery/split/ice-coffee-768-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/split/ice-coffee-320-1x.png 1x,
                ./images/gallery/split/ice-coffee-320-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img src="./images/gallery/split/ice-coffee-320-1x.png" alt="ice-coffee" />
          </picture>
        </div>
      </div>
      <div class="gallery__item gallery__item--6c">
        <picture class="gallery__picture--milkshake">
          <source
            srcset="
              ./images/gallery/split/milkshake-1280-1x.png 1x,
              ./images/gallery/split/milkshake-1280-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/gallery/split/milkshake-768-1x.png 1x,
              ./images/gallery/split/milkshake-768-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/split/milkshake-320-1x.png 1x,
              ./images/gallery/split/milkshake-320-2x.png 2x
            "
            media="(min-width: 320px)"
          />

          <img src="./images/gallery/split/milkshake-320-1x.png" alt="milkshake" />
        </picture>
      </div>
    </div>
  </div>
</section>


