<section>
    <div class="container">
        <nav class="navigation">
          <a href="" class="logo"></a>
          <ul class="nav__list">
            <li class="nav__item">Home</li>
            <li class="nav__item">About us</li>
            <li class="nav__item">How it’s made?</li>
            <li class="nav__item">Our products</li>
            <li class="nav__item">Contact</li>
          </ul>
          <button class="header-main-button">Buy now</button>
        </nav>
      </div>
</section>
<section>
    <div class="hero">
      <div>
      <h1 class="hero-title">ice cream<br>
        made with <br>
        passion</h1>
        <button class="hero-button-dark">Products</button>
        <button class="hero-button-white">How it’s made?</button>
      </div>
      <div class="hero-numbers">
        <div class="hero-numbers__block">
        <p class="hero-numbers__quantity">16</p>
        <p class="hero-numbers__item">cafes</p>
        </div>
        <div class="hero-numbers__block">
        <p class="hero-numbers__quantity">23</p>
        <p class="hero-numbers__item">food trucks</p>
        </div>
        <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </div>
    </section>