<section id="products" class="products">
  <div class="container">
    <div class="products_container">
      <div class="product_title">
        <p class="subtitle">100% natural</p>
        <h2 class="title">products</h2>
      </div>

      <ul class="products_list">
        <li class="products_list__item">
          <picture>
            <source
              srcset="
                ./images/products/pink-ice-cream_1280px_1x-min.png 1x,
                ./images/products/pink-ice-cream_1280px_2x-min.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products/pink-ice-cream_768px_1x-min.png 1x,
                ./images/products/pink-ice-cream_768px_2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/pink-ice-cream_320px_1x-min.png 1x,
                ./images/products/pink-ice-cream_320px_2x-min.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/products/pink-ice-cream_1280px_1x-min.png"
              alt="ice-cream"
              class="products_image"
            />
          </picture>

          <div class="products_content products__icecream_background">
            <h3 class="title_products">ice cream</h3>
           
           <div class="point">
            <svg width="6" height="6">
              <use href="/images/icons/sprite.svg#icon-point"></use>
            </svg> 
            <svg width="6" height="6">
              <use href="/images/icons/sprite.svg#icon-point"></use>
            </svg> 
            <svg width="6" height="6">
              <use href="/images/icons/sprite.svg#icon-point"></use>
            </svg> 
           </div>
            
            <div class="products_specification">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </div>
            <button type="submit" class="products_button">
              <!-- <svg width="14" height="14">
                <use href="/images/icons/sprite.svg#icon-turn-right"></use>
              </svg> -->
              <img src="/images/hero-header/arrow-right-1280-1x-min.png" alt="arrow reght" 
              width="40" height="40" class="arrow_right" >
             
            </button>
          </div>
        </li>

        <li class="products_list__item">
          <picture>
            <source
              srcset="
                ./images/products/ice-coffee_1280px_1x-min.png 1x,
                ./images/products/ice-coffee_1280px_2x-min.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products/ice-coffee_768px_1x-min.png 1x,
                ./images/products/ice-coffee_768px_2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/ice-coffee_320px_1x-min.png 1x,
                ./images/products/ice-coffee_320px_2x-min.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/products/ice-coffee_1280px_1x-min.png"
              alt="ice-coffee"
              class="products_image"
            />
          </picture>

          <div class="products_content  products_icecoffee__background">
             
            <h3 class="title_products">ice coffee</h3>
            <div class="point">
            <svg width="6" height="6">
              <use href="/images/icons/sprite.svg#icon-point"></use>
            </svg> 
            <svg width="6" height="6">
              <use href="/images/icons/sprite.svg#icon-point"></use>
            </svg> 
            <svg width="6" height="6">
              <use href="/images/icons/sprite.svg#icon-point"></use>
            </svg> 
           </div>

            <div class="products_specification">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </div>
            <button type="submit" class="products_button">
              <img src="/images/hero-header/arrow-right-1280-1x-min.png" alt="arrow reght" 
              width="40" height="40" class="arrow_right" >
              <!-- <svg width="14" height="14">
                <use href="/images/icons/sprite.svg#icon-turn-right"></use>
              </svg> -->
            </button>
          </div>
        </li>

        <li class="products_list__item">
          <picture>
            <source
              srcset="
                ./images/products/milk-shake_1280px_1x-min.png 1x,
                ./images/products/milk-shake_1280px_2x-min.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products/milk-shake_768px_1x-min.png 1x,
                ./images/products/milk-shake_768px_1x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/milk-shake_320px_1x-min.png 1x,
                ./images/products/milk-shake_320px_2x-min.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/products/milk-shake_1280px_1x-min.png"
              alt="milkshakes"
              class="products_image"
            />
          </picture>

          <div class="products_content products__milkshakes_background">
            <h3 class="title_products">milkshakes</h3>
            <div class="point">
              <svg width="6" height="6">
                <use href="/images/icons/sprite.svg#icon-point"></use>
              </svg> 
              <svg width="6" height="6">
                <use href="/images/icons/sprite.svg#icon-point"></use>
              </svg> 
              <svg width="6" height="6">
                <use href="/images/icons/sprite.svg#icon-point"></use>
              </svg> 
             </div>
            <div class="products_specification">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </div>
            <button type="submit" class="products_button">
              <img src="/images/hero-header/arrow-right-1280-1x-min.png" alt="arrow reght" 
              width="40" height="40" class="arrow_right" >
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
