<section class="products-section">
    <div class="products-title">
      <p class="products-title__percent">100%</p>
      <h2 class="products-title__prod">products</h2>
    </div>
    <div class="ice-cream-section">
      <h3 class="ice-cream-section__title">ice cream</h3>
      <p class="ice-cream-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
    <div class="ice-coffee-section">
      <h3 class="ice-coffee-section__title">ice coffee</h3>
      <p class="ice-coffee-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
    <div class="milkshakes-section">
      <h3 class="milkshakes-section__title">milkshakes</h3>
      <p class="milkshakes-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
  </section>