<section class="products-section">
    <div class="products-title">
      <p class="products-title__percent">100%</p>
      <h2 class="products-title__prod">products</h2>
    </div>
    <div class="ice-cream-section">
      <h3 class="ice-cream-section__title">ice cream</h3>
      <p class="ice-cream-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
    <div class="ice-coffee-section">
      <h3 class="ice-coffee-section__title">ice coffee</h3>
      <p class="ice-coffee-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
    <div class="milkshakes-section">
      <h3 class="milkshakes-section__title">milkshakes</h3>
      <p class="milkshakes-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
  </section>



<!-- 
  <section>
    <div class="products_container">
      <p class="subtitle">100% natural</p>
      <h2 class="title">products</h2>
      <ul class="products_list">
        <li class="products_list__item">

          <picture>
            <source
              srcset="/images/pink-ice-cream_1280px_1x-min.png 1x, /images/pink-ice-cream_1280px_2x-min.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/pink-ice-cream_768px_1x-min.png 1x, ./images/pink-ice-cream_768px_2x-min.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/pink-ice-cream_320_1x-min.png 1x, ./images/pink-ice-cream_320_2x-min.png 2x"
              media="(max-width: 767px)"
            />
            <img src="/images/pink-ice-cream_1280px_1x-min.png" alt="ice-cream" class="products_image" />
          </picture>

          <div class="products_content products_background__icecream">
            <h3 class="title_products">ice cream</h3>
            <div></div>
            <button></button>
          </div>
        </li>


        <li class="products_list__item">
          <picture>
            <source
              srcset="./images/ice-coffee_1280px_1x-min.png 1x, ./images/ice-coffee_1280px_2x-min.png  2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/ice-coffee_768px_1x-min.png 1x, ./images/ice-coffee_768px_2x-min.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/ice-coffee_320px_1x-min.png 1x, ./images/ice-coffee_320px_2x-min.png 2x"
              media="(max-width: 767px)"
            />
            <img src="./images/desktop/ice-coffee.png" alt="ice-coffee" class="products_image" />
          </picture>

          <div class="products_content products_background__icecoffee">
            <h3>ice coffee</h3>
            <div></div>
            <button></button>
          </div>
        </li>


        <li class="products_list__item">
          <picture>
            <source
              srcset="./images/milk-shake_1280px_1x-min.png 1x, ./images/milk-shake_1280px_2x-min.png  2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/milk-shake_768px_1x-min.png 1x, ./images/milk-shake_768px_1x-min.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/milk-shake_320px_1x-min.png 1x, ./images/milk-shake_320px_2x-min.png 2x"
              media="(max-width: 767px)"
            />
            <img src="./images/desktop/milkshakes.png" alt="milkshakes" class="products_image" />
          </picture>

          <div class="products_content products_background__milkshakes">
            <h3>milkshakes</h3>
            <div></div>
            <button></button>
          </div>
        </li>
      </ul>

    </div>
  </section> -->